<nav class="navbar navbar-expand-sm navbar-dark bg-dark shadow">
  <a class="navbar-brand" href="#">
    <img src="./assets/logo.svg" alt="Logo" class="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/blog" routerLinkActive="active">Blog</a>
      <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">About</a>
      <a class="nav-item nav-link" routerLink="/search" routerLinkActive="active">Search</a>
    </div>
  </div>
</nav>