.card {
	top: 0;
	height: 100%;
	transition-duration: 300ms;
	&:hover {
		top: -5px;
		box-shadow: 4px 10px 20px 1px rgba(0,0,0,0.2) !important;
	}
}

.card-link {
	text-decoration: none;
	color: inherit;
}