<div class="container">
  <h1 class="mb-5">Blog Page</h1>

  <div class="row">
    <div *ngFor="let post of allNews" class="col-12 col-md-6 col-xl-4 mb-4">
      <a [routerLink]="['/', 'blog', post.id]" [queryParams]="{title: post.title, desc: post.description, url: post.urlToImage, published: post.publishedAt, source: post.source.name}" class="card-link">
        <div class="card shadow">
          <img src="{{ post.urlToImage }}" alt="{{ post.author }}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
          </div>
          <div class="card-footer text-right">
            <a [routerLink]="['/', 'blog', post.id]" [queryParams]="{title: post.title, desc: post.description, source: post.source.name}" class="btn btn-outline-secondary btn-sm">Read plane text</a>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>